@font-face  {font-family: atrox;  src: url('../fonts/ATROX.TTF'); font-stretch: extra-expanded;  }

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* Predefined Styles  */

@media(max-width:991px){
    .Section-Title{
        font-size: 2.0em;
        font-family: atrox; 
        text-decoration: underline;
    }
     .Article-Title{
        font-size: 1.7em;
        font-family: atrox; 
    }
    .Article-Text{
        font-weight: bold;
        font-size: 1.2em;
    }
}
@media(min-width:992px){
    .Section-Title{
        font-size: 2.5em;
        font-family: atrox; 
        text-decoration: underline;
    }
     .Article-Title{
        font-size: 2.0em;
        font-family: atrox; 
    }
    .Article-Text{
        font-weight: bold;
        font-size: 1.3em;
    }
}


/* Custom Styles */
body {
    background-color: grey;
    padding-bottom: 10px;
    color: #001E64;
}
.navbar {
    font-family:atrox; 
    color: black;
    border: none;
    background: rgb(0,0,50);
    background: -moz-linear-gradient(top,  rgba(0,0,50,1) 75%, rgba(0,25,100,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(0,0,50,1)), color-stop(100%,rgba(0,25,100,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,50,1) 75%,rgba(0,25,100,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,50,1) 75%,rgba(0,25,100,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,50,1) 75%,rgba(0,25,100,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,50,1) 75%,rgba(0,25,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000032', endColorstr='#001964',GradientType=0 );
}
.navbar-nav > li > a {
    color: rgb(0,255,100);
}

/* Sections  */
section{
    padding-top: 20px;
}
.page-header {
    background-color: rgba(200,200,200, 0.5);
    border: none;
    padding-left: 10px;
    box-shadow: 5px 5px 5px #333;
    margin-left: 20px;
    margin-right: 20px;
}
.panel {
    box-shadow: 5px 5px 5px #333;
}

/* ------------------------------- SECTIONS --------------------------------- */
#section-1{
    background-image: url('../img/checker.gif');
    background-repeat:repeat;
    background-position:center;
    background-color: black;
}

#section-2{
    background-image: url('../img/wood.jpg');
    background-repeat:repeat;
    /* background-attachment:fixed; */
    background-position:center;
    background-color: black;
}
#section-3{
    background-image: url('../img/metal.jpg');
    background-repeat:repeat;
    /* background-attachment:fixed; */
    background-position:center;
    background-color: black;
}
#section-4{
    background-image: url('../img/checker.gif');
    background-repeat:repeat;
    /* background-attachment:fixed; */
    background-position:center;
    background-color: black;
}
#article-6-text > img{
    width: 100%;   
}
