@charset "utf-8";
.editable {
    box-shadow: 0px 0px 2px 3px rgba(0, 100, 255, 0.7);
}
/* Navbar Styles */
.navbar {
    margin-bottom: 0px;
}
.navbar-header > a {
   font-size: 4.0em; 
}
.navbar-right {
   font-size: 2.0em;
   padding-right: 40px;
}
.navbar-right > li {
    padding-left: 10px;
    padding-right: 10px;
}

/* Panel Styles  */
.panel-title{
    display: inline-block;   
}
.panel-heading > button{
    float: right;
    display: inline;   
}
.page-header > h2 {
    display: inline-block;
}
.page-header > button {
    display: inline-block;
    float:right;   
}

/* MsgBox Style */
#msgbox {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    min-height: 20px;
    z-index: 100;
    margin: 10px;
    padding: 10px;
	display: none;
}
#msgbox-text{
    float: left;
    font-size: 2em;
}
#msgbox-close {
	float: right;
}

/* Footer */
#SiteInfo{
    text-align: center;
    border-bottom: solid 1px #555;
    margin: 5px 20px;
}
.SiteInfoItem {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    border-right: solid 1px #555;
}
.SiteInfoItem a{
   text-decoration:underline;
    color: black;   
}
.SiteInfoItem:last-child {
    border-right: none;
}
#TechUsed{
    text-align: center;
    display: block;
}
.TechUsedItem{
    color: black;
    height: 20px;
    display: inline;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 10px;
}
.TechUsedItem:first-child{
    font-weight: bold;
}
.TechUsedItem a{
    text-decoration:underline;
    color: black;
}
.TechUsedItem img{
    height: 20px;
    display: inline;   
}

/* buttons Here */
.SE-Button{
    padding: 10px;
    color: white;
}
.SE-Button:hover{
    color: white;
}
